        #tablero {
            display: grid;
            grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
            grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;


        }

        .blanco {
            background: salmon;
            text-align: center;
            font-size: 40px;
            text-decoration-color: black;
        }

        .negro {
            background: LIGHTSALMON;
            text-align: center;
            font-size: 40px;
            text-decoration-color: white;
        }

    </style>